h1{

background-color:grey ;
border-radius:30px;
padding:15px;

}
.box1{
    background-color: coral;
    padding: 30px;
    margin: 0px;
}


.box2{
    background-color: coral;
    padding: 30px;
    margin: 10px;
    border-bottom: 5px;
}



*{
    box-sizing: border-box; 
}
body{
    background-color:bisque;
    margin:auto;
        padding:0;
        margin:0;
        /*background-image: url("https://fastly.4sqi.net/img/general/
        width960/687184_ONNuP9qEBmfE-DO0aAvi9s-Xkw6VmobNrRTOq06-cI8.jpg");*/
        /*y=vertical*/ /*x=horizontal*/
        /*background-repeat:no-repeat*/;
        /*cover=zoom*/
        /*contain= estica a imagem*/
        background-size:contain;
       /*background-position:center*/
       /*background-position: right bottom;*/
       background-attachment: fixed;
       /*height: 100vh; viewport heigth=vh*/
}

