

/*Para usar o css externo devemos linkar ele ao html destino 
*/


p{
    color:green;
    font-size: 20px;
    text-decoration:underline;
} 

body{
    background-color:black; /*O fundo do meu html vai ficar com a cor preta*/
    font-family:'Montserrat', sans-serif; /* o corpo da minha pág vai usar fonte que eu escolher,
    se não tiver disponivel ele utiliza alguma fonte que se encaixe no termo sans-serif*/ 
}
/*TIPOS DE SELETOR BÁSICO
1)Por elemento
2)Por id (#)=> estilização unica
3)Por class(.)=> estilização p/ varios
*/

h1,h2,h3 { /* se aplica em qualquer h1 da tag*/
    color:white;

}
/* Uso um id quando quero estilizar um elemento especifico*/

#meu-h1 { /*quando tiver um elemento igual meu-h1 nesse exemplo, para cada elemento especifico tenho que criar um id diferente*/
    font-weight:100;
}

.cabecalho {
    color:crimson;
    text-decoration:underline;
    font-weight:900;
}
.quadrado{
    width:250px;
    height: 250px;
    background-color: yellow;
    border-radius: 32px;
}
.banner {
    width:100%;
    border-radius: 16px;
}


